.header{
    display: flex;
    justify-content: space-between;
    border:1px solid black;
}

.logo{
    width: 100px;
}

.nav-items {
    padding: 0px 20px;
}

.nav-items > ul{
    display: flex;
    font-size: 20px;
    list-style-type: none;
    
}

.nav-items > ul > li{
    padding: 10px;
    margin: 10px;
}

.res-cards{
    margin: 5px;
    padding:5px;
    width: 250px;  
}

.search{
    padding: 10px;
}

.res-img{
    padding:5px;
    width: 240px;
    height: 180px;
    border-radius: 20px;
}

.res-cards:hover {
    cursor: pointer;
    border: 1px solid black;
    background-color: lightgray;
}

.rest-container{
    display: flex;
    flex-wrap: wrap;
}
.filter-btn{
    margin:10px;
}

.search {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.search > input {
    width:250px;
}

.shimmer-container{
    display:flex;
    flex-wrap: wrap;

}

.shimmer-card{
    margin:5px;
    padding: 5px;
    width:250px;
    height:300px;
    background-color: lightgray;
}

.login{
    padding:0 20px;
}

.filter{
    padding: 10px;
    gap: 30px;
    display: flex;
}

.menu{
    padding: 5px;
    margin:10px;
}

.user-card {
    padding: 5px;
    border:1px solid black;
}